/* Spinning images */
.spinning-images .forum_268 img {
  -webkit-animation:spin 9000s linear infinite;
  -moz-animation:spin 9000s linear infinite;
  animation:spin 9000s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Fully reveal the hammock cat */
.show-cat body.forum_268 {
  background-position-y: 60px;
}
.show-cat .forum_268 div#content {
  margin-top: 125px !important;
}
